.starting123{
    display: flex;
    margin-top: -2%;
    justify-content: center;
    border-radius: 70px;
}
.starting1234{
    padding: 30px;
    width: 550px;
    margin-top: -490px;
    border-radius: 70px;
    background-color: #FFB5C3;
    background-image: url('/home/jtbbjoining/Pottery_Marketing/ClientSide(FrontEnd)/clay_/src/Screenshot from 2023-06-06 16-50-35.png');
}
.starting2{
    padding: 30px;
    width: 400px;
    height: 350px;
    border-radius: 70px;
}

.name1{
    margin: 20px;
    padding: 15px 40px;
    margin-left: 60px;
    border-radius: 30px;
    background-color: white;
    border: 2px solid white;

}
.username1{
    margin: 20px;
    padding: 15px 40px;
    margin-left: 60px;
    border-radius: 30px;
    background-color: white;
    border: 2px solid white;
}
.email1{
    margin: 20px;
    padding: 15px 40px;
    margin-left: 60px;
    border-radius: 30px;
    background-color: white;
    border: 2px solid white;
}
.number1{
    margin: 20px;
    padding: 15px 40px;
    margin-left: 60px;
    border-radius: 30px;
    background-color: white;
    border: 2px solid white;
}
.password1{
    margin: 20px;
    padding: 15px 40px;
    margin-left: 60px;
    border-radius: 30px;
    background-color: white;
    border: 2px solid white;
}
.submit1{
    padding:15px 30px;
    margin: 10px 0px 0px 130px;
    border-radius: 30px;
    background-color: white;
    border: 2px solid white;
}
.image5{
    margin-left: 1000px;
}
.h11{
    margin-left: 80px;
}
.span{
    margin-left:300px;
    margin-top: -35px;
}