.decrease{
    border: 2px solid red;
    width: 70px;
    height: 70px;
    text-align: center;
    border-radius: 60px;

}
.decrease > h1{
    margin-top: 15px;
}
.increase{
    border: 2px solid red;
    width: 70px;
    height: 70px;
    text-align: center;
    border-radius: 60px;
    margin-left: 60px;
}
.increase > h1{
    margin-top: 15px;
}
.count{
    display: flex;
    border: 2px solid green;
    width: 200px;
}