.checkout {
  margin: 40px;
  width: 850px;
}
.fullname {
  display: flex;
}
.lastname {
  display: flex;
}
label {
  margin-left: 30px;
}
.last {
  margin-left: 30px;
}
h1 {
  margin-left: 30px;
}
.checkbox {
  height: 60px;
  width: 780px;
  border-radius: 50px;
  margin: 20px;
  border: 2px solid black;
}
#delivery {
  width: 30px;
  height: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#standard > label {
  margin-top: -80px;
}
.checkbox > label {
  margin-top: -50px;
}
#stand {
  margin-top: -50px;
  font-size: 20px;
  margin-left: 200px;
}
::placeholder {
  margin-left: 80px;
}
button {
  padding: 20px;
  border-radius: 30px;
  font-size: 17px;
  margin: 20px;
  margin-left: 35%;
}
