.checkout {
  margin: 40px;
  width: 850px;
}
.fullname {
  display: flex;
}
.lastname {
  display: flex;
}
label {
  margin-left: 30px;
}
.last {
  margin-left: 30px;
}
h1 {
  margin-left: 30px;
}
.checkbox {
  height: 60px;
  width: 780px;
  border-radius: 50px;
  margin: 20px;
  border: 2px solid black;
}
#delivery {
  width: 30px;
  height: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#standard > label {
  margin-top: -80px;
}
.checkbox > label {
  margin-top: -50px;
}
#stand {
  margin-top: -50px;
  font-size: 20px;
  margin-left: 200px;
}
::placeholder {
  margin-left: 80px;
}
button {
  padding: 20px;
  border-radius: 30px;
  font-size: 17px;
  margin: 20px;
  margin-left: 35%;
}
.check{
  text-align: center;
}
.color-div{
  padding: 16px;
  border: 2px solid #b3886d;
  margin: 10px 100px 10px 100px;
  background-color: #b3886d;
}
.contact-details{
  margin-left: 100px;
}
.input{
  margin-left: 100px;
}
.label{
  margin-left: -2px;
  padding: 10px;
}
.main-input-page{
  display: flex;
}
.main-input-page1{
  display: flex;
  margin-top: 20px;
}
.main-input-page2{
  display: flex;
  margin-top: 20px;
}
.main-input-page4{
  display: flex;
  margin-top: 20px;
}
.firstname{
  padding: 10px;
  width: 250px;
  margin-left: 100px;
  margin-top: 20px;
}
.firstname1{
  padding: 10px;
  width: 250px;
  margin-left: 100px;
  margin-top: 20px;
}
.firstname2{
  padding: 10px;
  width: 625px;
  margin-left: 100px;
  margin-top: 20px;
}
.name-label{
  margin-top: 20px;
  margin-left: 100px;
}
.name-label1{
  margin-top: 20px;
  margin-left: 100px;
}
.name-label3{
  margin-top: 20px;
  margin-left: 100px;
}
.name-label4{
  margin-top: 20px;
  margin-left: 100px;
}
.name-label5{
  margin-top: 20px;
  margin-left: 100px;
}
.lastname{
  padding: 10px;
  width: 250px;
  margin-left: 100px;
  margin-top: 20px;
}
.lastname1{
  padding: 10px;
  width: 250px;
  margin-left: 100px;
  margin-top: 20px;
}
.color-div{
  display: flex;
}
.details-contact{
  border: 2px solid red;
}
#details-contact1{
  border: 2px solid green;
}
#checkout-div{
 display: flex; 
}