.homepageimage{
    width: 100%;
    height: 630px;
    margin-top: 20px;  
    display: block;
    /* margin-left: 110px; */
    /* border-radius: 80px; */
}
.navigation{
    /* border: 1px solid red; */
    display: flex;
    /* margin-left: 30px; */
}
.navigation  >  p{
    margin-left: 110px;
    font-size: 18px;
}

.plainpot{
    border: 2px solid #fad4a8;
    width: 200px;
    height: 200px;
    border-radius: 150px;
    color: white;
    /* box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px; */
}
.bottle{
    border: 2px solid rgb(189, 188, 188);
    width: 200px;
    height: 200px;
    border-radius: 150px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
.bottle:hover {
    transform: scale(1.1, 1.2);
  
}
.bottle:hover::after {
    opacity: 1;
   
  }
.dinnerpot{
    border: 2px solid rgb(189, 188, 188);
    width: 200px;
    height: 200px;
    border-radius: 150px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
.dinnerpot:hover {
    transform: scale(1.1, 1.2);
  
}
.dinnerpot:hover::after {
    opacity: 1;
   
  }
.plainpot{
    border: 2px solid rgb(189, 188, 188);
    width: 200px;
    height: 200px;
    border-radius: 150px;
}
.plainpot:hover {
    transform: scale(1.1, 1.2);
  
}
.plainpot:hover::after {
    opacity: 1;
   
  }
.box{
    display: flex;
    background-color:#DDAD75;
    width: 100%;
    height: 500px;
    justify-content: space-evenly;
    /* margin-top: 70px; */
}
.second{
    width: 80%;
    height: 150px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    margin: 50px;
    padding: 100px;
    /* margin-top:70px; */
    border-radius: 150px;
}
.image{
    text-align: center;
    margin-top: -40px;
}
.h{
    margin-top: -65px;
    margin-left: 300px; 
    
}
.nextpage{
    width: 950px;
     height:500px;
    border: 2px solid #DDAD75;
    margin-left: 220px;
    background-color: white;
    margin-top: 50px;
}
.inside{
   width: 450px;
   height: 400px;
    border: 2px solid white;
    padding: 20px;
    margin: 30px;
}
.teaset{
    width:450px;
    border: 2px solid white;
    height: 400px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
.teaset:hover {
    transform: scale(1.1, 1.2);
  
}
.teaset:hover::after {
    opacity: 1;
   
  }
.nextpage1{
    width: 400px;
     height:400px;
    /* border: 2px solid #DDAD75; */
    margin-left: 750px;
    margin-top: -450px;
    text-align: center;
    color: black;
}
.nextpage1 > p{
    margin-top: 40px;
    color: black;
}
.shop{
    padding: 20px;
    border-radius: 35px;
    margin-top: 40px;
    margin-left: 40px;
    background-color: #DDAD75;
    border: 1px solid #DDAD75;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.icons{
    display: flex;
    justify-content: space-evenly;
    margin-top: 150px;
    border: 2px solid #DDAD75;
    height: 300px;
    border-radius: 80px;
    background-color: #DDAD75;
}
.iconsparagraph{
    color: black;
    text-align: center;
}
.smile{
    width: 150px;
    height: 150px;
    border-radius: 150px;
    margin-top: 40px;
    border: 2px solid black;
}
.dolor{
    width: 150px;
    height: 150px;
    border-radius: 130px;
    margin-top: 40px;
    border: 2px solid black;
}
.cart{
    width: 150px;
    height: 150px;
    border-radius: 130px;
    margin-top: 40px;
    border: 2px solid black;
}
.return{
    width: 150px;
    height: 150px;
    border-radius: 130px;
    margin-top: 40px;
    border: 2px solid black;
}
.maindiv{
    height: 400px;
    border: 2px solid gray;
    margin: 80px 200px 10px 200px;
    display: flex;
    padding: 40px;
    border: 2px solid #DDAD75

}
.firstdiv{
    height: 400px;
    /* border: 2px solid rgb(189, 188, 188); */
    width: 550px;
    /* background-color: rgb(189, 188, 188); */
   
}
.seconddiv{
    height: 400px;
    /* border: 2px solid rgb(189, 188, 188); */
    width: 490px;
}
.potterybell{
    width: 200px;
    height: 300px;
    
}
.hangingbell1{
    width: 200px;
    height: 300px;
    margin-left: 250px;

}
.potteryflowerbell{
    width: 200px;
    height: 300px;
    margin-left: 450px;
    margin-top: 98px;
}
.hangingpot{
    width: 200px;
    height: 200px;
    /* margin-bottom: 1000px; */
    margin-top: 100px;
    margin-left: 150px;
    animation: floatingAnimation 4s infinite;
}
.middlebox{
    margin: 10px 500px 10px 500px;
    height: 400px;
    margin-top: -410px;
}
.hangingpottext{
    text-align: center;
    margin-top: -150px;
    width: 400px;
    height: 400px;
    margin-left: 60px;
}
.hangingpottext > button{
    padding: 10px;
    border-radius: 30px;
    border: 2px solid  #eed1b1;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.footer{
    background-color: rgb(18, 9, 9);
    width: 70%;
    height: 40%;
    margin-left: 200px;
}
.footer1{
        background-color: rgb(189, 188, 188);
        height: 40%;
        display: flex;
        padding: 70px;
        margin-top: 200px;
}
.service{
    margin-left: 150px;
    font-size: 20px;
}
.contact{
    margin-left: 150px;
    font-size: 20px;
}
.social{
    margin-left: 150px;
    font-size: 20px;
}
.about{
    margin-left: 50px;
    font-size: 20px; 
}
.logo > img{
    width: 60px;
    height: 60px;
    margin-left: -180px;
    margin-top: 300px;
    border-radius: 40px;
}
.subscribe{
    width: 320px;
    height: 60px;
    border: 2px solid red;
    border-radius: 40px;
    margin-left: 60px;
}
.colorpots{
    width: 200px;
    height: 400px;
    margin-left: 260px;
    margin-top: -80px;
}
.smallPot{
    display: flex;
    margin-left: 540px;
    margin: 30px;
    padding: 30px;
    margin-top: 20px;
    text-align: center;
}
.potteryClass{
    margin-top: 60px;
    width: 150px;
    height: 150px;
    margin: 20px 38px;
    animation: potteryClass 4s infinite;
}
.potteryClass:hover {
    transform: scale(1.2, 1.2);
  
}
.potteryClass:hover::after {
    opacity: 1;
   
  }
.designPot{
    margin-top: 60px;
    width: 150px;
    height: 150px;
    margin: 20px 140px;
    animation: designPot 4s infinite;
}
.designPot:hover {
    transform: scale(1.2, 1.2);
  
}
.designPot:hover::after {
    opacity: 1;
   
  }
.giftCart{
    margin-top: 60px;
    width: 150px;
    height: 150px;
    margin: 20px 120px;
    animation: giftCart 4s infinite;
}

.giftCart:hover {
    transform: scale(1.2, 1.2);
  
}
.giftCart:hover::after {
    opacity: 1;
   
  }
.potteryWheel{
    margin-top: 60px;
    width: 150px;
    height: 150px;
    margin: 20px 90px;
    animation: potteryWheel 4s infinite;
}
.potteryWheel:hover {
    transform: scale(1.2, 1.2);
  
}
.potteryWheel:hover::after {
    opacity: 1;
   
  }
.paragraph  {
    margin: -3px;
}
.decorativebell{
    width: 70px;
    margin-left: 50px;
    margin-top: 140px;
}
.decorative{
    width: 70px;
    margin-left: 1200px;
    margin-top: 140px;
}
.hangingbell{
    display: flex;
}
#imagesAll{
    text-align: center;
    margin-top: 350px;
}
.wheelPottery2{
   /* border: 2px solid white; */
   width: 400px;
   height: 430px;
   margin: 20px;
   margin-top: 80px;
   animation: wheelPottery2 4s infinite;
}

.wheelPottery2 > img{
    width: 400px;
    height: 430px;
}
.wheelPottery2:hover {
    transform: scale(1.1, 1.0);
  
}
.wheelPottery2:hover::after {
    opacity: 1;
   
  }
.wheelPottery1{
    /* border: 2px solid white; */
    width: 400px;
    height: 430px;
    margin: 20px;
    margin-top: 30px;
 }
 
 .wheelPottery1 > img{
     width: 400px;
     height: 430px;
 }
 .wheelPottery1:hover {
    transform: scale(1.1, 1.0);
  
}
.wheelPottery1:hover::after {
    opacity: 1;
   
  }
.potone{
   display: flex;
   margin: 20px;
   margin-left: 440px;
   margin-top: -450px;
}
.pottwo{
   display: flex;
   margin: 20px;
   margin-left: 440px;
}
.verietiesbell2{
   width: 370px;
   height: 200px;
   /* border: 2px solid white; */
}
.verietiesbell2 > img{
    width: 300px;
    height: 200px;
}
.verietiesbell1{
    width: 370px;
    height: 200px;
    /* border: 2px solid white; */
 }
 .verietiesbell1 > img{
     width: 300px;
     height: 200px;
 }
.verietieshanging2{
   width: 370px;
   height: 200px;
   /* border: 2px solid white; */
   margin-left: 20px;
}
.verietieshanging2 > img{
    width: 300px;
    height: 200px;
}
.verietieshanging1{
    width: 370px;
    height: 200px;
    /* border: 2px solid white; */
    margin-left: 20px;
 }
 .verietieshanging1 > img{
     width: 300px;
     height: 200px;
 }
.verietiespots2{
   width: 370px;
   height: 200px;
   /* border: 2px solid white; */
}
.verietiespots2 > img{
    width: 300px;
    height: 200px;
}
.verietiespots1{
    width: 370px;
    height: 200px;
    /* border: 2px solid white; */
   
 }
 .verietiespots1 > img{
     width: 300px;
     height: 200px;
 }
.verietiesdesign2{
   width: 370px;
   height: 200px;
   /* border: 2px solid white; */
   margin-left: 20px;
}
.verietiesdesign2 > img{
    width: 300px;
    height: 200px;
}
.verietiesdesign1{
    width: 370px;
    height: 200px;
    /* border: 2px solid white; */
    margin-left: 20px;
 }
 .verietiesdesign1 > img{
     width: 300px;
     height: 200px;
 }
.potterys{
   width: 200px;
   height: 400px;
   /* border: 2px solid white; */
}
.potterys > img{
    width: 200px;
    height: 400px;
}
.downImages{
   margin: 20px;
   display: flex;
}
.clayPottery{
   width: 280px;
   height: 400px;
   /* border: 2px solid white; */
   margin-left: 20px;
}
.clayPottery > img{
    height: 400px;
    width: 280px;
}
.designPottery{
   width: 760px;
   height: 400px;
   /* border: 2px solid white; */
   margin-left: 20px;
}
.designPottery > img{
    width: 400px;
    height: 400px;
}
h2{
   font-size: 40px ;
}
#allpics{
    border: 2px solid white;
    width: 1100px;
    margin-left: 180px;
    background-color:   #DDAD75;
}

.floating-image-container {
    position: relative;
    width: 100%;
    height: 100vh;
  }
  
  .floating-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: floatingAnimation 4s infinite;
  }
  
  @keyframes floatingAnimation {
    0% {
      transform: translate(-10%, -80%) translateY(0);
    }
    50% {
      transform: translate(-10%, -10%) translateY(-100px);
    }
    100% {
      transform: translate(-10%, -80%) translateY(0);
    }
  }

  @keyframes potteryClass {
    0% {
        transform: translate(-10%, -80%) translateY(0);
      }
      50% {
        transform: translate(-10%, 10%) translateX(10px);
      }
      100% {
        transform: translate(-10%, -5%) translateY(0);
      }
  }
  @keyframes designPot{
    0% {
      transform: translate(-10%, -80%) translateY(0);
    }
    50% {
      transform: translate(-10%, 10%) translateX(10px);
    }
    100% {
      transform: translate(-10%, -5%) translateY(0);
    }
  }
  @keyframes giftCart{
    0% {
      transform: translate(-10%, -80%) translateY(0);
    }
    50% {
      transform: translate(-10%, 10%) translateX(10px);
    }
    100% {
      transform: translate(-10%, -5%) translateY(0);
    }
  }
  @keyframes potteryWheel{
    0% {
      transform: translate(-10%, -80%) translateY(0);
    }
    50% {
      transform: translate(-10%, 10%) translateX(10px);
    }
    100% {
      transform: translate(-10%, -5%) translateY(0);
    }
  }
  .addtocart{
    width: 60px;
    height: 60px;
    margin-left: 100px;
    margin-top: 25px;
  }
  #home{
    margin-left: 70px;
    margin-top: 50px;
  }
  #home:hover{
    text-decoration: none;
    color: red;
  }
  Link:hover{
    color: red;
  }
  #categary{
    margin-top: 50px;
  }
  #aboutus{
    margin-top: 50px;
  }
  #contactus{
    margin-top: 50px;
  }
   .read{
    margin-left: 20px;
    margin-top: -4px;
    border: 2px solid #DDAD75
   }
   .read1{
    margin-left: 20px;
    margin-top: -4px;
    border: 2px solid #DDAD75;
    padding: 10px;
    margin-top: 20px;
   }
   .twoimages{
    display: flex;
    
   }
   .twoimages > img{
    border-radius: 20px 20px 20px 20px;
   }
   .insideimage{
    border:20px solid #ffcab0;
     width:600px;
    height:400px;
    text-align: center;
    opacity: 0.9;
    margin-left: 540px;
    margin-top: -550px;
  }
  /* .insideimage > p{
    padding:30px;
  } */
  .making > img{
        width: 500px;
        margin-left: 700px;
        /* margin-top: -60px; */
  }
  .making{
    /* border: 2px solid red; */
    width: 80%;
    margin-top: 80px;
    margin-left: 150px;
  }
  .making > h2{
    margin-left: 60px;
    margin-top: -180px;
    color:  #DDAD75;
  }
  .making > p{
    font-size: 20px;
    margin-left: -40px;
  }
  .making1{
    width: 80%;
     margin-top: 80px;
    margin-left: 150px;
  }
  .making1 > img{
    width: 500px;
    margin-left: -70px;
}
.making1 > h2{
    margin-left: 150px;
    margin-top: -100px;
    color:  #DDAD75;
  }
  .making1 > p{
    font-size: 20px;
    margin-left: 500px;
  }
  .making1 > h2{
    margin-left: 600px;
    margin-top: -200px;
    color:  #DDAD75;
  }
.embark{
    text-align: center;
    margin-top: 160px;
    font-size: 20px;
    color:  #DDAD75;
}
.embark > h3{
    font-size: 50px;
}
.embark > p{
    font-size: 30px;
    font-family: sans-serif;
}
.logohome{
    width: 190px;
    height: 130px;
}